
KC_DB=postgres
KC_DB_URL_HOST=<db-host>
KC_DB_URL_PORT=<db-port>
KC_DB_URL_DATABASE=<db-database>
KC_DB_SCHEMA=<db-schema>
KC_DB_USERNAME=<db-username>
KC_DB_PASSWORD=<db-password>

KC_PROXY=edge

KC_HOSTNAME_URL=https://<sso-endpoint>
KC_HOSTNAME_STRICT=false
KC_HOSTNAME_STRICT_BACKCHANNEL=true

KEYCLOAK_ADMIN=<sso-admin-username>
KEYCLOAK_ADMIN_PASSWORD=<sso-admin-password>