/.github              @ladesa-ro/security
CODEOWNERS            @ladesa-ro/security
**/*.yml              @ladesa-ro/security
**/*.sh               @ladesa-ro/security
**/*.yaml             @ladesa-ro/security
