PORT=3000
NODE_ENV=development
TYPEORM_LOGGING=true

DB_CONNECTION=postgres

DATABASE_URL=postgresql://<user>:<password>@<db host>:<db port>/<database>
DATABASE_USE_SSL=false

OAUTH2_CLIENT_PROVIDER_OIDC_ISSUER=https://<auth host>/realms/<auth-target-realm>
OAUTH2_CLIENT_REGISTRATION_LOGIN_CLIENT_ID=<auth-client-id>
OAUTH2_CLIENT_REGISTRATION_LOGIN_CLIENT_SECRET=<auth-client-secret>
OAUTH2_CLIENT_REGISTRATION_LOGIN_SCOPE=openid profile

KC_BASE_URL=https://<auth host>
KC_REALM=<auth-target-realm>
KC_CLIENT_ID=<auth-client-id>
KC_CLIENT_SECRET=<auth-client-secret>

# ENABLE_MOCK_ACCESS_TOKEN=false

SWAGGER_SERVERS=<swagger server>
STORAGE_PATH=/var/lib/ladesa-ro-api/uploaded